body {
	font-family: 'Open Sans';
	margin: 0;

}
header, .search-bar, #nav-bar ul, .flexCol, .flexRow, .member {
	display: flex;
}
header{
	background-color: black;
	margin-bottom: 20px;
	height: 135px;
}
.flexRow, .member{
	justify-content: space-between;
}
footer .flexRow{
	justify-content: center;
}
header, .flexCol {
	flex-direction: column;
}
li{
	list-style: none;
}
#poster{
	width: 200px;
}
#pictures img{
	width: 110px;
	
}

.button-basic{
	background-color: white ;
	border: solid 1px black;
	padding: 5px;
}
.button-basic:hover, .button-yellow{
	background-color: rgb(248, 200, 23) ;
	border: solid 1px rgb(248, 200, 23);
	padding: 5px;
}
button{
	margin: 10px 0;
}

.search-bar, nav, main{
	width: 980px;
	margin: 10px auto;
}
.main-content{
	width: 680px;
	grid-area: content;
}
.userTag img, .userTag div{
	display: inline-block;
	margin: 0 15px;
}

#header-img, #footer-img {
	display: inline-block;
	background: url('https://2.fwcdn.pl/gf/iri-static/logo.310.png');
	background-size: contain;
}
#header-img{
	width: 145px;
	height: 35px;
}
#footer-img {
	width: 320px;
	height: 78px;
}
.flexCol li{
	display: none;
	background-color: rgb(233, 233, 233);
}
.navs li {
	padding: 5px;
}
#filmMenu li, #showMenu li, #gameMenu li{
	padding: 10px 20px;
}
li p {
	color: white;
	padding: 10px;
}

.flexCol li:hover, li p:hover{
	color: rgb(219, 176, 21);
}
.search-bar {
	margin-top: 35px;
}
.flexCol div {
	position: absolute;
	top:135px;
	font-weight: 500;
	font-size: 14px;
}

.bottom-underline{
	border-bottom: solid 3px rgb(219, 176, 21);
}
input[name=movieSearch]{
	padding: 10px;
	width: 450px;
	margin-left: 10px; 
}
.userTag img{
	width: 50px;
	border-radius: 50%;
	border: solid 1px lightgray;
}
footer{
	background-image: url(https://2.fwcdn.pl/gf/iri-static/footer.jpg);
	color: white;
	text-align: center;
	height: 405px;
}
footer img{
	height: 50px;
}
.content{
	display: grid;
	grid-template-areas: 'content sidebar';
}
.sidebar{
	width: 300px;
	grid-area: sidebar;
	color: rgb(226, 226, 226);
	
}

.rating{
	background-color: rgb(19, 19, 19);
}
.sidebar p {
	font-size: 12px;
	color: rgb(226, 226, 226);
}
.stars{
	background-color: rgb(65, 65, 65);
}
.member{
	margin: 10px 0;
	border-bottom: 1px solid rgb(228, 228, 228);
	padding-bottom: 10px;
}
#personelList:last-child{
	border-bottom: 0px;

}
#leftArrow, #rightArrow{
	border: none;
	background-color: white;
	font-size: 30px;
	font-weight: 900;
	font-family: 'Open Sans';
}