body {
	font-family: 'Open Sans';

}
header, .search-bar, #nav-bar ul, .flexCol, .flexRow, .member {
	display: flex;
}
header{
	background-color: black;
	margin-bottom: 20px;
}
.flexRow, .member{
	justify-content: space-between;
}
header, .flexCol {
	flex-direction: column;
}
li{
	list-style: none;
}
#poster{
	width: 200px;
}
#pictures img{
	width: 110px;
	
}
.button-basic{
	background-color: white ;
	border: solid 1px black;
	padding: 5px;
}
.button-basic:hover, .button-yellow{
	background-color: rgb(248, 200, 23) ;
	border: solid 1px rgb(248, 200, 23);
	padding: 5px;
}


.search-bar, nav, main{
	width: 980px;
	margin: 0 auto;
}
.main-content{
	width: 680px;
	grid-area: content;
}

#header-img{
	display: inline-block;
	width: 100px;
	height: 100px;
	background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRu1KRzYf61C2h0JdX-bzu5IMDx5_PmzhvEPdHsmY8Z7j0HMfZWJA') ;
	background-color: rgb(242, 192, 32);
	background-blend-mode: multiply;
	background-size: contain;
}
.flexCol li{
	display: none;
	background-color: rgb(233, 233, 233);
}
.navs li {
	padding: 5px;
}
li p {
	color: white;
}
li p:hover{
	color: rgb(219, 176, 21);
}
.flexCol li:hover {
	color: rgb(219, 176, 21);
}
.search-bar {
	
}
input[name=movieSearch]{
	padding: 10px;
	width: 450px;
}

.userTag img{
	width: 50px;
	border-radius: 50%;
	border: solid 1px lightgray;
}
footer{
	background-image: url(https://2.fwcdn.pl/gf/iri-static/footer.jpg);
	color: white;
	text-align: center;
}
.content{
	display: grid;
	grid-template-areas: 'content sidebar';
}
.sidebar{
	width: 300px;
	grid-area: sidebar;
	color: rgb(226, 226, 226);
	
}
.rating{
	background-color: rgb(19, 19, 19);
}
.sidebar p {
	font-size: 12px;
	color: rgb(226, 226, 226);
}
.stars{
	background-color: rgb(65, 65, 65);
}
.member{

}